
body{
    background-color: rgb(222, 222, 222);
}
header{
    font-family: poppins;
    font-size: large;

    
}
img {
    width: 230px;
    padding: auto;
    


}
form{
   
    width: 130px;
    align-items: center;
    
}
.sign{
width: 15px;
padding: 15px;

}